<?xml version="1.0"?>
<Settings>
    <Window width="800" height="600" fps="60" />
    <AssetFiles>
        <Asset name="AssetsList" file="../res/AssetsList" />
        <Asset name="Player.prefab" file="../res/Prefabs/player.prefab" />
        <Asset name="Enemy.prefab" file="../res/Prefabs/enemy.prefab" />
    </AssetFiles>
    <Scenes>
        <Scene name="Test" file="../res/Test.scene" default="true" />
    </Scenes>
</Settings>